*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #3c3c3c;
    font-family: 'Arima', cursive;
    font-weight: 400;
    font-size: 26px;
    text-rendering: optimizeLegibility;
    }
.row {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 80px 0;
}
.btn{
    
    border: 0;
    cursor: pointer;
}
h1,h2,h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    
    
}
.box {
    padding: 1%;
    text-align: justify;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}
.box img{
    width: 100%;
    height: 180px;;
    margin-bottom: 15px;
}
.cat1:link,
.cat1:visited{
    color: #d0d0d0;
     border-bottom: 2px solid transparent;
    
}
.cat1:hover,
.cat1:active{
   border-bottom: 2px solid #ba5553;
    transition: 0.2s;
}
.nav-item a:link,
.nav-item a:visited{
    padding: 0;
    text-decoration: none;
     border-bottom: 1.5px solid transparent;
}
.nav-item a:hover,
.nav-item a:active{
/*    color:#525252;*/
    border-bottom: none;
    border-bottom: 1.5px solid #ba5553;
    
}

h1{
    font-weight: 300;
    margin-top:0;
    margin-bottom: 25px;
    color: #d0d0d0;
    font-size: 240%;
    word-spacing: 4px;
}
h2{
/*    font-weight: 300;*/
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
}
h2:after {
    display:block;
    height: 2px;
    background-color: #ba5553;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
h3{
    font-weight: 500;
    font-size: 110%;
    margin-bottom: 10px;
}

.logo img{
    border-radius: 10px;
    display: inline;
    width: 150px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50px;
}
nav-home{
    height: 220px;
}
.nav-indoor{
    height: 150px;
}
.nav-item{
    display:inline-block;
    width: 500px;
    height: auto;

}
.nav-item-home{
        position: absolute;
    top: 150px;
    
}
.nav-item-indoor{
    position: absolute;
    top: 50px;
}
.nav-item li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    font-size: 30px;
}
/*
a{
    text-decoration: none;
    color: #d5d5d5;
}
*/
nav{
/*    background-color: #454545;*/
/*    box-shadow: 4px 2px 4px #808080;*/
/*    border-bottom: 3px solid #696969;*/

}
.icon-big {
    color: #ba5553;
    height: 60px;
    width: 60px;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top:10px; 
}
.icon-big:hover,
.icon-big:active{
    cursor: pointer;
/*   background-color: #393939;*/
    color: #853d3b;
    transition: 0.2s;
}
.main-nav i{
/*    float: right;*/
    position: absolute;
    top: 20px;
    right: 50px;
}

.main-nav form{
/*    float: right;*/
    position: absolute;
    top: 130px;
    right: 10px;
}

header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/pots.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.brand-name{
/*
    position: absolute;
    top: 0;
    left: 600px;
*/
    text-align: center;
}
.brand-name img{
    margin-top: 15px;
    height: 100px;
    width: auto;
}

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s,color 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #ba5553;
    margin-right: 10px;
    color: #f0f0f0;
    border: 1px solid #ba5553;
}
.btn-border:link,
.btn-border:visited{
    border: 1px solid #ba5553;
    color: #ba5553;

}

.btn:hover,
.btn:active,
input[type=submit]:hover{
    background-color:#853d3b;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover{
    border: 1px solid #853d3b;
}
.btn-border:hover,
.btn-border:active{
    border: 1px solid #853d3b;
    color: #f0f0f0;

}
.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    transform: translate(-50%,-30%);
    text-align: center;
}
.categories {
    background: linear-gradient(rgba(239, 217, 216, 0.8),rgba(233,222,221,0.8));
}
.categories-text{
    font-size: 30px;
    color: #fff;
     background-color: #ba5553;
    border-radius: 20px;
    border: 2px solid #ba5553;
    height: 500px;
    width: auto;
    text-align: center;
/*    padding: 2px;*/
    border: 1px solid black;
} 
.categories-text img{
    height: 300px;
    border-radius: 10px;
    border:  1px solid #000;

}
.categories-text img:hover{
    opacity: 0.9;
}
.categories-text a{
    vertical-align: middle;
}
.categories-text:hover,
.categories-text:active{
    background: #853d3b;
    color: #fff;
    border: 1px solid #000;
    transition: 0.2s;
}
.categories-text a:hover{
        color: #fff;
    transition: 0.2s;
}

.icon-sml{
    color: #853d3b;
    font-size: 130%;
    margin-right: 10px;
    vertical-align: middle;
}
.city-feature {
    margin-bottom: 5px;
    font-size: 20px;
}
.city-feature a{
    text-decoration: none;
}

.cities {
    background-color: #e2e2e2;
    background: linear-gradient(rgba(233,222,221,0.8),rgba(226,226,226,0.8));
}
.work-p{
    line-height: 145%;
}
.city-feature a:link,
.city-feature a:visited{
    color: #656565;
}
.city-feature a:hover,
.city-feature a:active{
    color: #853d3b;
    transition: 0.2s;
}
.cities img{
    border: 0.5px solid black;
}
.aboutusimg{
height: 500px;
}
.aboutus{
    background:linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(img/aboutusback2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contactus span{
    font-size: 150%;
    vertical-align: middle;
    margin-left: 20px;
}

footer{
    background-color: #e3e3e3;
padding: 20px;
}
.footernav a,
.socialnav a{
    text-decoration: none;
}
.footernav a:link,        
.footernav a:visited,
.socialnav a:link,        
.socialnav a:visited{
    color:#656565 ;
text-decoration: none;
}
.footernav a:hover,        
.footernav a:active,
.socialnav a:hover,
.socialnav a:active{
    color:#000000;}

.footernav li,
.socialnav li{
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
}
footer p{
    color: #656565;
    text-align: center;
    margin-top: 40px;
    font-size: 90%;
}
.footernav {
    list-style: none;
    float: left;
}

.socialnav {
   list-style: none; 
    float: right;
    font-size: 120%;
}
.copyright{
    font-size: 90%;
}
.contact{
    float: left;
}
.icons{
    float: right;
}
.icons ion-icon{
    margin-right: 30px;
}
.contactusitem{
    margin-bottom: 10px;
}
.contact-form {
    width: 70%;
    margin: 0 auto;
}
*:focus{
    outline: none;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}



.loginbtn {
    font-size: 70%;
    width: auto;
/*    display: inline-block;*/
    float: right;
    position:absolute;
    top: 40px;
    right: 150px;
}

.iconsec i{
    position: absolute;
    top: 33px;
    right: 35px;
}
